@import "tailwindcss";

/* CONTENT */
/* ======================================================================= */
/* 
  000-CSS RESET
  001-BASE
  002-TOP-CONTACT
  003-NAVIGATION
  004-HERO
  005-MISSION
  006-SERVICES
  007-WHY US
  008-FOOTER
*/

  /* 000-CSS RESET */
/* ======================================================================= */
* {
  margin: 0;
}
body {
  @apply text-gray-700;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
  @apply leading-relaxed text-lg;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


.container {
  @apply w-full md:w-[46rem] lg:w-[62rem] xl:w-[78rem] m-auto;
}

/* CSS RESET/END */
/* ======================================================================= */

/* 001-BASE */
/* ======================================================================= */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #32667C;
  --text-primary: #3F3F3F;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1 {
  @apply text-5xl font-medium;
  line-height: 1.2;
  color: var(--text-primary);
  
}

h1 > span {
  color: var(--color-primary);
}

h2 {
  @apply text-4xl font-medium;
  color: var(--text-primary);
}

h3 {
  @apply text-xl font-bold;
}

.btn {
  @apply px-6 py-4 text-center cursor-pointer;
}

.btn-primary {
  background: linear-gradient(135deg, #3B8FB3  0%, #32667C 100%);
  @apply inline-flex justify-center items-center gap-2.5 text-white text-base font-bold ease-out duration-200;
}

.btn-primary:hover {
  background: linear-gradient(135deg, #317997  0%, #254e5f 100%);
  @apply shadow-lg;
}

.btn-ghost {
  @apply border-2 font-semibold ease-out duration-400;
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-ghost:hover {
  background: linear-gradient(135deg, #3B8FB3  0%, #32667C 100%);
  color: white;
  border:2px solid transparent;
}

/* 002- BASE/END */
/* ======================================================================= */


/* 002-TOP-CONTACT */
/* ======================================================================= */
.top-contact {
  background: var(--color-primary);
  @apply text-xs text-white;
}

.top-contact--container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem; 
}

.top-contact--info-title {
  @apply font-bold uppercase sm:mr-2;
}

.top-contact--info-link {
  @apply underline hover:opacity-80 text-blue-50;
}
/* TOP CONTACT/END */
/* ======================================================================= */

/* 003-NAVIGATION */
/* ======================================================================= */
.navigation {
  background: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.1);
}

.navigation--container {
  @apply grid grid-cols-7 gap-4 max-w-4xl m-auto text-base;
}

.navigation--link, .navigation--logo {
  @apply flex items-center justify-self-center py-2 text-sm font-medium text-gray-600 hover:text-gray-900 cursor-pointer self-center justify-center;

}

.navigation--link.active {
  border-bottom: 3px solid var(--color-primary);
  @apply text-gray-900;
}

/* 003-NAVIGATION/END */
/* ======================================================================= */

/* 004-HERO */
/* ======================================================================= */
.hero {
  @apply my-24 mx-auto max-w-lg text-center;
}

.hero h1 {
  @apply mb-8;
}

.hero p {
  @apply  mb-8;
}

.hero--cta {
  @apply flex justify-center gap-4;
}

/* 004-HERO/END */
/* ======================================================================= */

/* 005-MISSION */
/* ======================================================================= */

.mission {
  background-color: var(--color-primary);
  @apply flex justify-between items-center;
}

.mission--content {
  @apply ml-20 text-white ;
  @apply w-full md:max-w-[20rem] lg:max-w-[48rem] xl:max-w-[64rem] m-auto;
}

.mission--text span {
  @apply text-white font-black;
}

.mission--title {
  @apply text-white font-black mb-4;
}

.mission--image > img {
  display: block;
}

/* 005-MISSION/END */
/* ======================================================================= */

/* 006-SERVICES */
/* ======================================================================= */
.services {
  @apply my-24 grid grid-cols-6 gap-4;
}

.service--card {
  @apply border border-gray-200  p-8 hover:shadow-lg ease-in-out duration-300 mb-8;
}

.services--icon {
  @apply mb-4;
}

.services--header {
  @apply mb-4;
}

.services--info {
  @apply text-base max-w-[600px];
}


/* 006-SERVICES/END */
/* ======================================================================= */


/* 007-WHY US */
/* ======================================================================= */
.why-us {
  @apply flex justify-between my-24;
}

.why-us--content p {
  @apply mb-2;
}

.why-us--title {
  @apply mb-4;
  color: var(--color-primary);
}

.why-us--checkmark {
  color: #187399;
  font-size: 20px;
}

/* 007-WHY US/END */
/* ======================================================================= */

/* 008-FOOTER */
/* ======================================================================= */
.footer {
  background-image: url('/footer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  @apply text-white py-12 mt-24 font-light;

}

.footer p {
  @apply text-white font-light text-base;
}

.footer--links li {
  @apply mb-2;
}

.footer--inner {
  @apply w-full xl:w-[78rem] px-12 xl:m-auto;
}

.footer--container {
  @apply grid grid-cols-3 md:grid-cols-5 gap-8;
  @apply grid-flow-row;
}

.footer--info {
  @apply col-span-2 md:col-span-2 xl:col-span-2;
}

.footer--links {
  @apply col-span-1;
}


.footer--contact {
  @apply col-span-3 md:col-span-2 xl:col-span-2;
  @apply  grid grid-cols-2 md:grid-cols-1 xl:grid-cols-2 gap-8;
}


.footer--links li:hover {
  @apply underline;
}

.footer--info p {
  @apply mb-4;
}

.footer--contact div {
  @apply mb-8;
}

.footer--contact-title {
  @apply font-bold uppercase mb-2 text-sm;
}

.footer--contact-link {
  @apply underline hover:opacity-80 text-blue-100;
}

.footer--divider {
  @apply  border-white opacity-20 my-2;
}

/* 008-FOOTER/END */
/* ======================================================================= */